$color__background-body: hsl(204, 57%, 64%);
$color__background-header: hsl(204, 60%, 50%);
$color__background-main: hsl(204, 40%, 79%);
$color__background-menu: hsl(204, 40%, 79%);
$color__background-sidebar: hsl(204, 28%, 37%);
$color__background-footer: hsl(204, 20%, 30%);
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: rgb(135, 135, 135);
$color__background-ins: #fff9c0;
$color__background-aside: hsl(204, 73%, 37%);
$color__background-nav-evenement-stage: hsl(204, 80%, 100%);
$color__background-nav-evenement-projet: hsl(204, 80%, 100%);
$color__background-nav-evenement-porte: hsl(204, 80%, 100%);
$color__background-grille-article: hsl(204, 20%, 20%);

$color__text-screen: hsl(204, 100%, 100%);
$color__text-white: hsl(204, 100%, 100%);
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: hsl(0, 0%, 30%); //royalblue
$color__link-visited: hsl(0, 0%, 20%); //purple
$color__link-hover: #191970; //midnightblue
$color__link__menu__aside : rgb(228, 236, 243);
$color__link__menu__aside-visited : rgb(234, 247, 250);
$color__link__menu__aside-hover : #fff;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
