.grille{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grille__article{
    flex : 1 1 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    padding: 3px;
    background-color: $color__background-grille-article;
    box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 40%);
}

.grille__article h6,
.grille__article p:last-of-type,
.grille__article p:first-of-type{
    margin: 0;
}