.menu__primaire {
	display: flex;
    justify-content: flex-end;
}

.menu__primaire .menu {
	display :flex;
    justify-content:space-around;
    margin-left : 12%;
    flex:1;
    list-style-type: none;
    flex-wrap: wrap;
    margin-right: 100px;
}

.menu__primaire .menu-item a {
    text-decoration: none;
    padding: 6px 30px;
    border: 1px solid black;
    font-size: 24px;
    color: black;
    background-color: $color__background-menu;
}   

.menu__primaire .menu-item a:hover {
    text-decoration: none;
    padding: 6px 30px;
    border: 1px solid black;
    font-size: 24px;
    color: black;
    background-color: $color__link__menu__aside-hover;
}   

.site__header .sidebar {
	position: relative;
    z-index: 99;
    color: white;
}

.site__branding {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;
    @media screen and (min-width: 700px){
        flex-direction: row;
        width: 100%;
    }
}

.site__branding h1 {
    font-size: 60px;
    padding-bottom: 1em;
}

.sidebar__header{
    display: flex;
    flex-direction: column;
}

.sidebar__header .sidebar{
    padding: 0;
}