.evenement {}
.evenement  .menu{
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}
.evenement  .menu-item{
    flex : 0 1 200px;
    border : 1px solid #aaa;
}
.evenement  .menu-item a{
    text-decoration: none;
}
.menu-item-icone {
    width : 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.evenement__stage {
    background-color: aquamarine;

}
.evenement__stage {
    background-color: $color__background-nav-evenement-stage;

    .menu-item-icone {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=arrow-down');
    }
}

.evenement__projet {
    background-color: $color__background-nav-evenement-projet;
   
    .menu-item-icone {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=arrow-down');
    }
}
.evenement__porte {
    background-color: $color__background-nav-evenement-porte;
    .menu-item-icone {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=arrow-down');
    }
}