.recherche {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 150px;
}

// .recherche div {
//     height: 150px;
// }

.recherche h5 {
   margin: 0 0 5px 0; 
}
.recherche .thumbnail__container {
    width: calc(150px + 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche .thumbnail {
    margin: 0 auto;
}